

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}


.logo {
	max-width: 100%;
	height: auto;
	padding-top: 10px;
}



@media screen and (max-width: 640px) {
  .logo {
  	max-width: 220px;
  	padding-top: 15px;
  	  }

  }

      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          
      }

      .navbar{
      	background-color: black;
      	width: 100%;
      	position: fixed;
      	height: 60px;
      }

      .navbar-toggler {
            	color: white;
            	max-height: 80px;
            	padding-top: 10px;
            	}